<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
    <style type="text/css">
        body {
            width: 180px;
        }
    </style>
</head>
<body>

<div class="text-center">
    <p class="font-bold">Task statistics</p>
    <hr>
    <div id="task-stats"></div>
    <!--<p><a href="../popup/popup.html" id="back">| Back |</a></p>-->
</div>
<script src="jquery-3.5.1.min.js"></script>
<script type="module" src="tasks.js"></script>
</body>

</html>
