Please notice the giza actions library we are using are still branches:
(from ./requirements.txt)
giza-actions @ git+https://github.com/gizatechxyz/actions-sdk.git@5c5c9f3b3daefedd3c3c03a69312f3c2bd61ca04