<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings</title>
    <link rel="stylesheet" href="../css/style.css">
    <style type="text/css">
        body {
            width: 180px;
        }
    </style>
</head>
<body>
<div class="text-center">
    <div>
        <div>
            <label>
                Usuario
                <input type="text" id="payrate" min=""
                       style="width: 45px; margin-left: 10px">
            </label>
        </div>

<!--
    <div>
        <label>
            Warn me if I forget to start the extension
            <input type="checkbox" id="submit-warn">
        </label>
        <hr>
    </div>

    <div>
        <div>
            <label>
                Pay-rate (USD) / hour
                <input type="number" id="payrate" min="0"
                       style="width: 30px; margin-left: 10px">
            </label>
        </div>

        <div class="mt-10">
            <label>
                Your local currency
                <select id="currencies" name="currencies">
                </select>
            </label>
            <hr>
        </div>

    </div>
-->
    <div class="mb-10">
        <div class="font-bold mb-10 mt-10" id="save-status"></div>
        <button class="btn" id="save-btn">Save</button>
        <p><a href="../popup/popup.html" id="back">| Back |</a></p>
    </div>
</div>
<script type="module" src="settings.js"></script>

</body>
</html>
